/* index + portfolio header + footer css start */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  font-family: "Roboto", Raleway, sans-serif;
  color: #212121;
  margin: 0;
}

.header a:hover {
  color: #2196f3;
}

.header li {
  list-style-type: none;
}

.logo {
  color: #000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo > span {
  font-family: Raleway;
  color: #2196f3;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
}

.site-nav-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0;
}

.link {
  color: #212121;
}

.contacts a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.main-index-content li {
  list-style-type: none;
}

.title {
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2f303a;
}

.title-text {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.main-button {
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.peculiarities {
  letter-spacing: 0.03em;
}
.peculiarities-title {
  display: none;
}

.block-title {
  display: flex;
  justify-content: space-between;
}

.block-title li {
  width: 270px;
}

.block-title li:not(:last-child) {
  padding-right: 30px;
}

.block-title h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.block-title p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.employment h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166666667;
  letter-spacing: 0.03em;
}

.team {
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
}

.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team p {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.footer a:hover {
  color: #2196f3;
}

.footer li {
  list-style-type: none;
}

.footer {
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding: 60px 0;
}

.footer > span {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address a {
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.transparent {
  opacity: 0.6;
}

/* index css + portfolio header + footer start finish */
/* portfolio css start */

.main-portfolio-content li {
  list-style-type: none;
}

.portfolio-title {
  display: none;
}

.buttons-box {
  text-align: center;
  list-style-type: none;
  padding-top: 6px;
  padding-bottom: 56px;
}

.buttons-box button {
  font-family: Raleway;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.buttons-box button:hover {
  background-color: #2196f3;
  color: #fff;
}

.portfolio-imagebox-txt h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-imagebox-txt p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* block model part index */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  list-style: none;
  margin-left: 93px;
}

.site-nav-list li:not(:last-child) {
  padding-right: 50px;
}

.contacts {
  display: flex;
  list-style: none;
}

.contacts li:not(:last-child) {
  padding-right: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hat-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}

.title-text {
  padding-bottom: 40px;
}

.peculiarities-title li {
  width: 270px;
}

.peculiarities {
  padding-bottom: 0;
}

.block-title h3 {
  margin-bottom: 10px;
}

.employment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employment-container h2 {
  margin-bottom: 50px;
}

.img-employment-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
}

.img-employment-container :not(:last-child) {
  margin-right: 30px;
}

.employment-container {
  display: flex;
}

.team h2 {
  text-align: center;
  margin-bottom: 50px;
}

.img-team-container {
  display: flex;
  justify-content: space-between;
}

.img-txt-container {
  padding: 30px 0;
}

.team-img {
  background-color: #fff;
  width: calc((100% - 3 * 30px) / 4);
  text-align: center;
}

.team-img h3 {
  margin-bottom: 10px;

}
.footer-container :first-child {
  margin-top: 20px;
}

.footer-container > a {
  color: #fff;
}

.address :not(:last-child) {
  margin-bottom: 9px;
}

/*block model part index finish*/

/*block model part portfolio*/

.header-line {
  border-bottom: 1px solid #ECECEC;
}

.buttons-portfolio-container {
  display: flex;
  justify-content: center;
}

.buttons-portfolio-container button {
  padding: 6px 22px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.buttons-portfolio-container li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-img img {
  display: block;
}

.portfolio-img h2 {
 margin-bottom: 4px;
}

.img-portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.underline-container {
  border: 1px solid #eee;
  padding: 20px 24px;
}
