/* index + portfolio header + footer css start */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  font-family: "Roboto", Raleway, sans-serif;
  color: #212121;
  margin: 0;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.header li {
  list-style-type: none;
}

.logo {
  font-family: Raleway;
  color: #000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo > span {
  color: #2196f3;
}

.site-nav-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0;
}

.link {
  color: #212121;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.contacts a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.main-index-content li {
  list-style-type: none;
}

.title {
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2f303a;
}

.title-text {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.main-button {
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.peculiarities {
  letter-spacing: 0.03em;
}
.peculiarities-title {
  display: none;
}

.block-title {
  display: flex;
  justify-content: space-between;
}

.block-title li {
  width: 270px;
}

.block-title li:not(:last-child) {
  margin-right: 30px;
}

.block-title h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.block-title p {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.employment h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166666667;
  letter-spacing: 0.03em;
}

.team {
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
}

.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team p {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.footer li {
  list-style-type: none;
}

.footer {
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding: 60px 0;
}

.footer > span {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address a:hover,
.address a:focus {
  color: #2196f3;
}

.address a {
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.transparent {
  opacity: 0.6;
}

/* index css + portfolio header + footer start finish */
/* portfolio css start */

.main-portfolio-content li {
  list-style-type: none;
}

.portfolio-title {
  display: none;
}

.buttons-box {
  text-align: center;
  list-style-type: none;
  padding-top: 6px;
  padding-bottom: 56px;
}

.buttons-box button {
  font-family: Raleway;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.buttons-box button:hover,
.buttons-box button:focus {
  background-color: #2196f3;
  color: #fff;
}

.portfolio-imagebox-txt h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-imagebox-txt p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* block model part index */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-nav-list a:hover {
  color: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  list-style: none;
  margin-left: 93px;
}

.site-nav-list li:not(:last-child) {
  padding-right: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hat-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}

.title-text {
  padding-bottom: 40px;
}

.peculiarities-title li {
  width: 270px;
}

.peculiarities {
  padding-bottom: 0;
}

.block-title h3 {
  margin-bottom: 10px;
}

.employment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employment-container h2 {
  margin-bottom: 50px;
}

.img-employment-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
}

.img-employment-container :not(:last-child) {
  margin-right: 30px;
}

.employment-container {
  display: flex;
}

.team h2 {
  text-align: center;
  margin-bottom: 50px;
}

.img-team-container {
  display: flex;
  justify-content: space-between;
}

.img-team-container li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-txt-container {
  padding: 30px 0;
  padding-bottom: 16px;
}

.team-img {
  background-color: #fff;
  width: calc((100% - 3 * 30px) / 4);
  text-align: center;
}

.team-img h3 {
  margin-bottom: 10px;
}

.address :not(:last-child) {
  margin-bottom: 9px;
}

/*block model part index finish*/

/*block model part portfolio*/

.buttons-portfolio-container {
  display: flex;
  justify-content: center;
}

.buttons-portfolio-container button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}

.buttons-portfolio-container li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-img img {
  display: block;
}

.portfolio-img h2 {
  margin-bottom: 4px;
}

.portfolio-img:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.underline-container {
  border: 1px solid #eee;
  padding: 20px 24px;
}

/*block model part portfolio finish*/

/*icons svg start*/

.contacts {
  display: flex;
}

.contacts li:not(:last-child) {
  padding-right: 30px;
}

.contacts-mail-svg {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.contacts-tell-svg {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.link-properties {
  display: flex;
  flex-direction: row-reverse;
}

.link-properties:hover,
.link-properties:focus {
  color: #2196f3;
}

.title {
  background-image: url(../images/hero-imag/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1600px;
}

.icons-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-links .links-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-links li:not(:last-child) {
  margin-right: 10px;
}

.team-svg {
  fill: #afb1b8;
}

.links-icon:hover,
.links-icon:focus {
  background-color: rgba(33, 150, 243, 1);
}

.links-icon:hover .team-svg,
.links-icon:focus .team-svg {
  fill: #fff;
}

.regular-customers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1170px;
  height: 184px;
}

.regular-customers-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.regular-customers-container ul {
  display: flex;
}

.customers-logos a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.regular-customers-link {
  width: 106px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-customers-svg {
  fill: #afb1b8;
}

.customers-logos:not(:last-child) {
  margin-right: 30px;
}

.regular-customers-link:hover,
.regular-customers-link:focus {
  border-color: #2196f3;
}

.regular-customers-link:hover .regular-customers-svg,
.regular-customers-link:focus .regular-customers-svg {
  fill: #2196f3;
}

.footer-container {
  display: flex;
}

.footer-logo {
  color: #fff;
  display: flex;
  margin-bottom: 20px;
}

.footer-social-container h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 70px;
  margin-top: 7px;
}

.footer-social-links li {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-links {
  margin-bottom: 0;
}

.footer-team-svg {
  fill: #fff;
}
