/* index + portfolio header + footer css start */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* common */

body {
  font-family: "Roboto", Raleway, sans-serif;
  color: #212121;
}
/* common */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* common */
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 80px;
}
/* common */

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headline__underline::before {
  color: #2196f3;
  content: "";
  width: calc(100% - 50px);
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  border-radius: 2px;
  position: absolute;
  top: 44px;
}

.logo {
  font-family: Raleway;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__item {
  color: #2196f3;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.navigation-list__item:not(:last-child) {
  padding-right: 50px;
}

.navigation-list__link {
  color: #212121;
  text-decoration: none;
  transition: color 250ms;
}

/*  */
.navigation-list__link:hover,
.navigation-list__link:focus,
.studio-mail:hover,
.studio-mail:focus,
.studio-tel:hover,
.studio-tel:focus {
  color: #2196f3;
}

.studio-mail,
.studio-tel {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  transition: color 250ms;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.studio-mail__icon,
.studio-tel__icon {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-notitia {
  display: flex;
}

.contacts-notitia__item:not(:last-child) {
  padding-right: 30px;
}

/* main__index.html */
/*  */

.heading {
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-imag/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1600px;
}

.heading__title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  align-self: center;
  cursor: pointer;
}

body {
  position: relative;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms;
}

.background.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.background.is-hidden .modal {
  transform: scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #fff;
  transform: scale(1);
  transition: transform 250ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cancel-button {
  position: absolute;
  background: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms;
}

.cancel-button:hover,
.cancel-button:focus {
  fill: #2196f3;
}

.main-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.main-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 2px;
}

.input-tag {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-tag__title {
  display: flex;
  margin-bottom: 4px;
  margin-top: 10px;
}

.input-tag__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-tag__input-field {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms;
}

.input-tag__input-field:hover,
.input-tag__input-field:focus,
.input-tag__borders:hover,
.input-tag__borders:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.input-tag__icon {
  position: absolute;
  left: 15px;
}

.input-tag__input-field:hover + .input-tag__icon,
.input-tag__input-field:focus + .input-tag__icon {
  fill: #2196f3;
}

.input-tag__borders {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms;
  display: block;
}

.input-tag__input {
  width: 416px;
  height: 96px;
  margin: 12px;
  resize: none;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: center;
}

.modal__checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox__hide:checked + .checkbox__display {
  background-color: #2196f3;
  border: none;
}

.checkbox__display {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms;
  margin-right: 7px;
  cursor: pointer;
}

.checkbox__mark {
  fill: #fff;
}

.agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.agreement__terms-link {
  color: #2196f3;
}

 /*  */
/*  */

.peculiarities {
  letter-spacing: 0.03em;
  margin: 94px 0;
}

.peculiarities__title {
  display: none;
}

.peculiarities-list {
  display: flex;
}

.peculiarities-list__item,
.peculiarities-list__wrapper {
  width: 270px;
}

.peculiarities-list__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.peculiarities-list__subtitle,
.peculiarities-list__description {
  font-size: 14px;
}

.peculiarities-list__subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.peculiarities-list__description {
  color: #757575;
  line-height: 1.71;
}

/*  */

.activity {
  margin-bottom: 94px;
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.activity-list {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.activity-list__item {
  position: relative;
}

.activity-list__item:not(:last-child) {
  margin-right: 30px;
}

.activity-list__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 38, 29, 0.3);
  color: #fff;
  bottom: 3px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/*  */
/*  */

.team {
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.team__wrapper {
  margin-bottom: 30px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  width: calc((100% - 3 * 30px) / 4);
  text-align: center;
}

.team-list__wrapper {
  padding: 30px 0;
  padding-bottom: 16px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-list__activity {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.social-links-list {
  display: flex;
  justify-content: center;
}

.social-links-list .social-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms;
}

.social-links-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-links-list__link:hover,
.social-links-list__link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.social-links-list__link:hover .social-links-list__icon,
.social-links-list__link:focus .social-links-list__icon {
  fill: #fff;
  transition: fill 250ms;
}

.social-links-list__icon {
  fill: #afb1b8;
}

/*  */
/*  */

.regular-customers {
  padding: 94px 0;
}

.regular-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  text-align: center;
}

.customers-logo-list {
  display: flex;
}

.customers-logo-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms;
}

.customers-logo-list__link {
  width: 106px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-logo-list__icon {
  fill: #afb1b8;
  transition: fill 250ms;
}

.customers-logo-list__item:hover,
.customers-logo-list__item:focus {
  border-color: #2196f3;
}

.customers-logo-list__item:hover .customers-logo-list__icon,
.customers-logo-list__item:focus .customers-logo-list__icon {
  fill: #2196f3;
}

.customers-logo-list__item:not(:last-child) {
  margin-right: 30px;
}

/*  */
/*  */

.footer {
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding: 60px 0;
  list-style-type: none;
}

.footer__container {
  display: flex;
}

.footer__logo {
  color: #fff;
  display: flex;
  margin-bottom: 20px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__item:not(:first-child) {
  opacity: 0.6;
}

.address-list__link {
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms;
}

.address-list__link:hover,
.address-list__link:focus {
  color: #2196f3;
}

.footer__container--align {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 70px;
  margin-top: 7px;
}

.footer__subtitle,
.subscribe-form__subtitle {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.footer__social-links-item {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__social-links-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-links-icon {
  fill: #fff;
}

.subscribe-form {
  width: 570px;
  margin-left: 93px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: #fff;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__buttons-icon {
  margin-left: 10px;
}

/* portfolio css start */
/*  */

.header-underline {
  border-bottom: 1px solid #ececec;
}

.main {
  padding-top: 94px;
}

.portfolio__title {
  display: none;
}

.buttons-list {
  text-align: center;
  list-style-type: none;
}

.buttons-list__button {
  font-family: Raleway;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  transition: color 250ms;
}

.buttons-list__button:hover,
.buttons-list__button:focus {
  background-color: #2196f3;
  color: #fff;
  transition: background-color 250ms;
}

.buttons-list__container {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
}

.buttons-list__container .buttons-list__button {
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

/*  */

.portfolio__wrapper {
  margin-bottom: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.projects-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
}

.card__link {
  text-decoration: none;
}

.card__link:hover .card__content {
  transform: translateY(0%);
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}

.card__content {
  color: #fff;
  padding: 65px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-property: transform;
}

.card__description {
  border: 1px solid #eee;
  padding: 20px 24px;
  color: #212121;
  margin-top: -4px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
