.modal {
    padding: 40px;
    width: 96%;
    height: 96%;
    max-width: 450px;
    max-height: 609px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%) scale(1);

    background-color: var(--button-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0);
        }

    @media screen and (min-width: $desktop) {
        max-width: 528px;
        max-height: 581px;
    }


}

.modal__title {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    @media screen and (min-width: $desktop) {
        line-height: 1.15;
    }
}
    
    

.modal__label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.modal__field {
    display: block;
    position: relative;

    margin-bottom: 10px;
}

.modal__input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal__field:focus-within & {
            outline: transparent;
            border: 1px solid var(--accent-color);
        }
}

.modal__icon {
    position: absolute;

    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal__field:focus-within & {
            fill: var(--accent-color);
        }
}


.modal__field--textarea {
    display: block;
    line-height: 0;
}

.modal__textarea {
    resize: none;

    padding: 12px 16px;

    width: 100%;
    height: 120px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.01em;
    
            color: rgba(117, 117, 117, 0.5);
        }
    .modal__field--textarea:focus-within & {
            outline: transparent;
            border: 1px solid var(--accent-color);
    }
}

.modal__checkbox {
    display: flex;
    justify-content: center;
}

.modal__label--checkbox {
    display: flex;
    // flex-wrap: wrap;

    align-items: center;
    line-height: 1.71;
    cursor: pointer;

    margin-bottom: 30px;
    text-align: center;
    &:hover {
            color: var(--accent-color);
        }
    
    @media screen and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.16;
    }
}

.modal__link {
    text-decoration: underline;
    color: var(--accent-color);
    margin-left: 3px;

    &:focus {
            outline: transparent;
            font-weight: 600;
        }
}

.modal__icon--uncheck {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__checkbox:checked + & {
            background-color: var(--accent-color);
            border: none;
        }

    .modal__checkbox:focus + & {
            border: 2px solid var(--accent-color);
        }
}

.modal__icon--check {
    fill: transparent;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__checkbox:checked + & {
            fill: var(--button-white-color);
        }  
}

.modal__icon-text{
    display: inline-block;
    vertical-align: middle;
}

.modal__button {
    display: block;
    border: transparent;
    padding: 10px 55px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--button-white-color);
        background-color: #188ce8;
    }
}



.modal__button--close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    padding: 0;

    top: 8px;
    right: 8px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid var(--accent-color);
    }    
}

.modal__icon--close {
    display: block;
    fill: #000000;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__button--close:hover &,
    .modal__button--close:focus & {
        fill: var(--accent-color);
    }
}



