.main {
  padding-top: 94px;
}

.portfolio {
  &__title {
    display: none;
  }

  &__wrapper {
    margin-bottom: 94px;
  }
}

.buttons-list {
  text-align: center;
  list-style-type: none;

  &__button {
    font-family: Raleway;
    letter-spacing: $main-spacing;
    font-weight: $thirdy-font-weight;
    font-size: $secondary-font-size;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    transition: color 250ms;

    @include hover-focus() {
      background-color: $accent-color;
      color: $secondary-color;
      transition: background-color 250ms;
    }
  }


  &__container {
    @extend %flex-center;
    padding-bottom: 56px;
  }

  &__container &__button {
    padding: 6px 22px;
    @extend %b-radius-style;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

  &__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
  }
}

.card {
  &__link {
    text-decoration: none;
  }

  &__link:hover &__content {
    transform: translateY(0%);
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__content {
    color: $secondary-color;
    padding: 65px 24px;
    font-weight: $secondary-font-weight;
    font-size: $cards-font-size;
    line-height: 1.55;
    letter-spacing: $main-spacing;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-property: transform;
  }

  &__description {
    border: 1px solid #eee;
    padding: 20px 24px;
    color: $main-color;
  }

  &__title {
    font-weight: $main-font-weight;
    font-size: $cards-font-size;
    line-height: 2;
    letter-spacing: $secondary-spacing;
  }

  &__type {
    color: $thirdy-color;
    font-size: $secondary-font-size;
    line-height: $fourth-line-height;
    letter-spacing: $main-spacing;
  }
}
