@mixin display($type: flex) {
  display: $type;
}

@mixin centered-flex($type: flex, $align-it: center, $justify: center) {
  display: $type;
  align-items: $align-it;
  justify-content: $justify;
}

@mixin border($border-color: rgba(33, 33, 33, 0.2)) {
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
}

@mixin hover-focus {
  &:hover,
  &:focus {
      @content;
  }
}