:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --button-white-color: #ffffff;
    --background-section: #2f303a;
    --background-color: #f5f4fa;
}