$main-color: #212121;
$secondary-color: #fff;
$thirdy-color: #757575;
$accent-color: #2196f3;
$customers-logo-color: #afb1b8;
$bg-heading-footer-color: #2f303a;
$bg-main-color: #F5F4FA;

$main-font: Releway;

$main-font-weight: 700;
$secondary-font-weight: 400;
$thirdy-font-weight: 500;

$main-font-size: 14px;
$secondary-font-size: 16px;
$thirdy-font-size: 36px;
$cards-font-size: 18px;

$main-spacing: 0.03em;
$secondary-spacing: 0.06em;
$thirdy-spacing: 0.02em;

$main-line-height: 1.17;
$secondary-line-height: 1.14;
$thirdy-line-height: 1.18;
$fourth-line-height: 1.87;
$fifth-line-height: 1.71;

$main-border-radius: 4px;
$seconary-border-radius: 50%;
$thirdy-border-radius: 2px;
$input-tag-border: 1px solid rgba(33, 33, 33, 0.2);
