.activity {
  margin-bottom: 94px;

  &__title {
    font-weight: $main-font-weight;
    font-size: $thirdy-font-size;
    line-height: 1.16;
    letter-spacing: $main-spacing;
    margin-bottom: 50px;
    @extend %txt-align;
  }
}

.activity-list {
  @include centered-flex(flex, center, space-between);

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__subtitle {
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    letter-spacing: $main-spacing;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 38, 29, 0.3);
    color: $secondary-color;
    bottom: 3px;
    @include centered-flex();
    position: absolute;
  }
}
