.peculiarities {
  letter-spacing: $main-spacing;
  margin: 94px 0;

  &__title {
    @include display(none);
  }
}

.peculiarities-list {
  @include display();

  &__item,
  &__wrapper {
    width: 270px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__wrapper {
    @include centered-flex();
    height: 120px;
    background-color: $bg-main-color;
    margin-bottom: 30px;
    border-radius: $main-border-radius;
  }

  &__subtitle,
  &__description {
    font-size: $main-font-size;
  }

  &__subtitle {
    font-weight: $main-font-weight;
    line-height: $secondary-line-height;
    text-transform: uppercase;
  }

  &__description {
    color: $thirdy-color;
    line-height: $fifth-line-height;
  }
}
