.regular-customers {
  padding: 94px 0;

  &__title {
    font-weight: $main-font-weight;
    font-size: $thirdy-font-size;
    line-height: $main-line-height;
    letter-spacing: $main-spacing;
    padding-bottom: 50px;
    @extend %txt-align;
  }
}

.customers-logo-list {
  @include display;

  &__item {
    @include centered-flex();
    width: 170px;
    height: 92px;
    border: 1px solid $customers-logo-color;
    border-radius: $main-border-radius;
    transition: border-color 250ms;
    @include hover-focus() {
      border-color: $accent-color;
      }
  }

  &__link {
    width: 106px;
    height: 60px;
    @include centered-flex();
  }

  &__icon {
    fill: $customers-logo-color;
    transition: fill 250ms;
  }
  
  &__item:hover &__icon,
  &__item:focus &__icon {
    fill: $accent-color;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
