.team {
  letter-spacing: $main-spacing;
  background-color: $bg-main-color; 
  padding: 94px 0;

  &__title {
    font-weight: $main-font-weight;
    font-size: $thirdy-font-size;
    line-height: $main-line-height;
    margin-bottom: 50px;
    @extend %txt-align;
  }

  &__wrapper {
    margin-bottom: 30px;
  }
}

.team-list {
  @include display();
  justify-content: space-between;

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $secondary-color;
    width: calc((100% - 3 * 30px) / 4);
    @extend %txt-align;
  }

  &__wrapper {
    padding: 30px 0;
    padding-bottom: 16px;
  }

  &__name {
    font-weight: $thirdy-font-weight;
    font-size: $secondary-font-size;
    line-height: $thirdy-line-height;
    margin-bottom: 10px;
  }

  &__activity {
    color: $thirdy-color;
    font-size: $secondary-font-size;
    line-height: $thirdy-line-height;
  }
}

.social-links-list {
  @include display();
  justify-content: center;

  & &__link {
    @include centered-flex();
    width: 44px;
    height: 44px;
    border-radius: $seconary-border-radius;
    transition: background-color 250ms;
  }
  
  &__link:hover,
  &__link:focus {
    background-color: $accent-color;

  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $secondary-color;
    transition: fill 250ms;
  }
  
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    fill: #afb1b8;
  }
}
